hydra-core>=1.3
colorlog
optuna
gymnasium[classic-control, mujoco]
tensorboard
mlflow
flatten_dict
torch
dagshub

skrl @ git+https://github.com/Toni-SM/skrl.git@d81196df22aa8433f3808baa49a24e303f78deaa